{% extends 'base.html.twig' %}

{% block title %}{{parent()}}{% endblock %}

{% block content%}
<h1><p> Apprenez l'anglais Avec InnovAnglais</p></h1>


<br/>



<div>

{% if not is_granted('IS_AUTHENTICATED_FULLY') %}
        <a href="{{path('app_login')}}" class="btn btn-primary btn-lg">Se connecter</a>
        <p>Pas encore inscrit ?</p>
		<a href="{{ path('inscrire') }}" class="btn btn-primary btn-lg">S'inscrire</a>


		{% endif %}

<br/>
<div>
{% endblock %}