{% extends 'base.html.twig' %}

{% block title %}{{parent()}}{% endblock %}

{% block content%}
<h1><p> Apprenez l'anglais Avec InnovAnglais</p></h1>

<a href="#" class="btn btn-primary btn-lg">Se connecter</a>
<br/>



<div>
<p>Pas encore inscrit ?</p>
<a href="{{ path('inscription') }}" class="btn btn-primary btn-lg">S'inscrire</a>
<br/>
<div>
{% endblock %}