{% extends 'base.html.twig' %}
{% block title %}
	{{ parent()}}
	- Ajout abonnement
{% endblock %}
{% block content %}
	<h1 class="text-center text-primary p-4">Ajout abonnement</h1>
	{{ form(form) }}{% endblock %}
