{% extends 'base.html.twig' %}
{% block title %}{{ parent()}} - Ajout thème{% endblock %}
{% block content %}
 <h1 class="text-center text-primary p-4">Ajout thème</h1>
 {{ form(form) }}
{% endblock %}